## Exercise 6.1 - Sourcing Open Data

### Contents

#### 1. Import Libraries and data
#### 2. Data Cleaning and Wrangling
#### 3. Export Dataset to .csv

### 1. Import Libraries and Data

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Define Path
path = r'/Users/anfran/Desktop/Chocolate Rating Project'

In [3]:
#Import Dataset
rating = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'chocolate_data.csv'), index_col = False)

In [4]:
#Check head
rating.head()

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [5]:
#Check shape
rating.shape

(1795, 9)

In [6]:
#Check info
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Company
(Maker-if known)         1795 non-null   object
 1   Specific Bean Origin
or Bar Name  1795 non-null   object
 2   REF                               1795 non-null   int64
 3   Review
Date                       1795 non-null   int64
 4   Cocoa
Percent                     1795 non-null   object
 5   Company
Location                  1795 non-null   object
 6   Rating                            1795 non-null   float64
 7   Bean
Type                         1794 non-null   object
 8   Broad Bean
Origin                 1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [7]:
#Check basic statistics
rating.describe()

               REF  Review\nDate       Rating
count  1795.000000   1795.000000  1795.000000
mean   1035.904735   2012.325348     3.185933
std     552.886365      2.927210     0.478062
min       5.000000   2006.000000     1.000000
25%     576.000000   2010.000000     2.875000
50%    1069.000000   2013.000000     3.250000
75%    1502.000000   2015.000000     3.500000
max    1952.000000   2017.000000     5.000000

### 2. Data Cleaning and Wrangling

In [8]:
#Sort the Dataset by Review Date
rating.sort_values (by = ['Review\nDate'], inplace = True, ascending = True)

In [9]:
#Check results
rating.head()

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
1177,Neuhaus (Callebaut),Sao Tome,15,2006,75%,Belgium,2.75,Forastero,Sao Tome
1292,Pierre Marcolini,"Porcelana, Tabasco, Limited Ed.",81,2006,72%,Belgium,4.00,Criollo,Mexico
1237,Original Hawaiin Chocolate Factory,"Hawai'i, Kona Estate Grown",24,2006,60%,U.S.A.,3.00,,Hawaii
1178,Neuhaus (Callebaut),Ocumare,24,2006,71%,Belgium,3.00,Criollo,Venezuela
1176,Neuhaus (Callebaut),West Africa,15,2006,73%,Belgium,2.00,Forastero,West Africa

In [10]:
#Change column names
rating.rename(columns={'Company \n(Maker-if known)': 'company_name', 'Specific Bean Origin\nor Bar Name': 'bean_origin', 
                       'Review\nDate': 'review_date', 'Cocoa\nPercent': 'cocoa_percent', 'Company\nLocation': 'company_location', 
                       'Bean\nType': 'bean_type', 'Broad Bean\nOrigin': 'broad_bean_origin'}, inplace=True)

In [11]:
#Check results
rating.head()

,Company \n(Maker-if known),bean_origin,REF,review_date,cocoa_percent,company_location,Rating,bean_type,broad_bean_origin
1177,Neuhaus (Callebaut),Sao Tome,15,2006,75%,Belgium,2.75,Forastero,Sao Tome
1292,Pierre Marcolini,"Porcelana, Tabasco, Limited Ed.",81,2006,72%,Belgium,4.00,Criollo,Mexico
1237,Original Hawaiin Chocolate Factory,"Hawai'i, Kona Estate Grown",24,2006,60%,U.S.A.,3.00,,Hawaii
1178,Neuhaus (Callebaut),Ocumare,24,2006,71%,Belgium,3.00,Criollo,Venezuela
1176,Neuhaus (Callebaut),West Africa,15,2006,73%,Belgium,2.00,Forastero,West Africa

I'm not sure why the first column will not change it's name, but the rest of the columns changes. The name of the company column is not a huge deal.

In [12]:
#Check results
rating.head()

,Company \n(Maker-if known),bean_origin,REF,review_date,cocoa_percent,company_location,Rating,bean_type,broad_bean_origin
1177,Neuhaus (Callebaut),Sao Tome,15,2006,75%,Belgium,2.75,Forastero,Sao Tome
1292,Pierre Marcolini,"Porcelana, Tabasco, Limited Ed.",81,2006,72%,Belgium,4.00,Criollo,Mexico
1237,Original Hawaiin Chocolate Factory,"Hawai'i, Kona Estate Grown",24,2006,60%,U.S.A.,3.00,,Hawaii
1178,Neuhaus (Callebaut),Ocumare,24,2006,71%,Belgium,3.00,Criollo,Venezuela
1176,Neuhaus (Callebaut),West Africa,15,2006,73%,Belgium,2.00,Forastero,West Africa

In [13]:
rating.shape

(1795, 9)

In [14]:
#Check for null values
rating.isnull().sum()

Company \n(Maker-if known)    0
bean_origin                   0
REF                           0
review_date                   0
cocoa_percent                 0
company_location              0
Rating                        0
bean_type                     1
broad_bean_origin             1
dtype: int64

In [15]:
#Locate null values in 'bean_type'
df_nan1 = rating[rating['bean_type'].isnull()==True]

In [16]:
df_nan1

,Company \n(Maker-if known),bean_origin,REF,review_date,cocoa_percent,company_location,Rating,bean_type,broad_bean_origin
1544,Soma,"Three Amigos(Chuao, Wild Bolivia, D.R.)",676,2011,70%,Canada,4.0,NaN,"Ven, Bolivia, D.R."

In [17]:
#Replace NaN value with 'unknown'
rating['bean_type'].fillna('unknown', inplace=True)

In [18]:
#Check results
df_nan1 = rating[rating['bean_type'].isnull()==True]

In [19]:
df_nan1

Empty DataFrame
Columns: [Company
(Maker-if known), bean_origin, REF, review_date, cocoa_percent, company_location, Rating, bean_type, broad_bean_origin]
Index: []

In [20]:
#Locate null values in 'broad_bean_origin'
df_nan2 = rating[rating['broad_bean_origin'].isnull()==True]

In [21]:
df_nan2

,Company \n(Maker-if known),bean_origin,REF,review_date,cocoa_percent,company_location,Rating,bean_type,broad_bean_origin
1072,Mast Brothers,Madagascar,999,2012,72%,U.S.A.,2.5,Trinitario,NaN

In [22]:
#Replace NaN value with 'unknown'
rating['broad_bean_origin'].fillna('unknown', inplace=True)

In [23]:
#Check results
df_nan2 = rating[rating['broad_bean_origin'].isnull()==True]

In [24]:
df_nan2

Empty DataFrame
Columns: [Company
(Maker-if known), bean_origin, REF, review_date, cocoa_percent, company_location, Rating, bean_type, broad_bean_origin]
Index: []

In [25]:
#Replace field that's entirely space (or empty) with NaN
rating.replace("", np.nan, inplace=True)

In [26]:
rating.head(25)

,Company \n(Maker-if known),bean_origin,REF,review_date,cocoa_percent,company_location,Rating,bean_type,broad_bean_origin
1177,Neuhaus (Callebaut),Sao Tome,15,2006,75%,Belgium,2.75,Forastero,Sao Tome
1292,Pierre Marcolini,"Porcelana, Tabasco, Limited Ed.",81,2006,72%,Belgium,4.00,Criollo,Mexico
1237,Original Hawaiin Chocolate Factory,"Hawai'i, Kona Estate Grown",24,2006,60%,U.S.A.,3.00,,Hawaii
1178,Neuhaus (Callebaut),Ocumare,24,2006,71%,Belgium,3.00,Criollo,Venezuela
1176,Neuhaus (Callebaut),West Africa,15,2006,73%,Belgium,2.00,Forastero,West Africa
1120,Michel Cluizel,Noir Infini,81,2006,99%,France,2.00,,
1439,Scharffen Berger,Extra Dark,15,2006,82%,U.S.A.,2.00,,
1440,Scharffen Berger,Bittersweet,15,2006,70%,U.S.A.,3.50,Blend,
1441,Scharffen Berger,Kumasi Sambirano,40,2006,68%,U.S.A.,2.00,Blend,Ghana & Madagascar
1293,Pierre Marcolini,"Kendem Lembu, Java",93,2006,72%,Belgium,3.00,Criollo,Indonesia
1119,Michel Cluizel,Maralumi P.,24,2006,64%,France,4.00,,Papua New Guinea
1117,Michel Cluizel,Los Ancones P.,24,2006,67%,France,4.00,,Dominican Republic
1116,Michel Cluizel,Tamarina,24,2006,70%,France,3.00,Forastero,Sao Tome
1115,Michel Cluizel,Carre Grand Noir,24,2006,85%,France,2.00,,
1114,Michel Cluizel,Carre Amer,24,2006,60%,France,2.00,,
1442,Scharffen Berger,Jamaica a l'ancienne,56,2006,70%,U.S.A.,2.00,Trinitario,Jamaica
1443,Scharffen Berger,Semisweet,56,2006,62%,U.S.A.,3.00,Blend,
241,Bonnat,Trinite,24,2006,75%,France,3.75,Trinitario,Carribean
242,Bonnat,"Ocumare, Puerto Cabello",32,2006,75%,France,4.00,,Venezuela
1118,Michel Cluizel,Mangaro P.,24,2006,65%,France,4.00,Trinitario,Madagascar
1294,Pierre Marcolini,"Ocumare, Puerto Cabello, Venezuela",93,2006,72%,Belgium,4.00,Criollo,Venezuela
1323,Pralus,"Monte Alegre (Itacare), Brazil",105,2006,75%,France,3.00,Forastero,Brazil
86,Amedei,Toscano Black,40,2006,70%,Italy,5.00,Blend,
1338,Pralus,"Djakarta, Java and Ghana",99,2006,75%,France,3.50,"Criollo, Forastero","Indonesia, Ghana"
1337,Pralus,"Caracas, Venezuela and Ghana",99,2006,75%,France,3.00,"Trinitario, Forastero","Venezuela, Ghana"

* The code(s) I have tried to replace the blank values (whitespace) values are not working, so I will handle this step in Excel.

In [27]:
#Check for duplicates
df_dups = rating[rating.duplicated()]

In [28]:
df_dups

Empty DataFrame
Columns: [Company
(Maker-if known), bean_origin, REF, review_date, cocoa_percent, company_location, Rating, bean_type, broad_bean_origin]
Index: []

* No duplicates found.

In [31]:
#Check for mixed types
for col in rating.columns.tolist():
  weird = (rating[[col]].applymap(type) != rating[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (rating[weird]) > 0:
    print (col, ' mixed')

* No mixed data types were found

In [32]:
#Check clean dataframe
rating.head()

,Company \n(Maker-if known),bean_origin,REF,review_date,cocoa_percent,company_location,Rating,bean_type,broad_bean_origin
1177,Neuhaus (Callebaut),Sao Tome,15,2006,75%,Belgium,2.75,Forastero,Sao Tome
1292,Pierre Marcolini,"Porcelana, Tabasco, Limited Ed.",81,2006,72%,Belgium,4.00,Criollo,Mexico
1237,Original Hawaiin Chocolate Factory,"Hawai'i, Kona Estate Grown",24,2006,60%,U.S.A.,3.00,,Hawaii
1178,Neuhaus (Callebaut),Ocumare,24,2006,71%,Belgium,3.00,Criollo,Venezuela
1176,Neuhaus (Callebaut),West Africa,15,2006,73%,Belgium,2.00,Forastero,West Africa

In [33]:
rating.shape

(1795, 9)

In [34]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1795 entries, 1177 to 958
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company
(Maker-if known)  1795 non-null   object
 1   bean_origin                1795 non-null   object
 2   REF                        1795 non-null   int64
 3   review_date                1795 non-null   int64
 4   cocoa_percent              1795 non-null   object
 5   company_location           1795 non-null   object
 6   Rating                     1795 non-null   float64
 7   bean_type                  1795 non-null   object
 8   broad_bean_origin          1795 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 140.2+ KB

In [35]:
rating.describe()

               REF  review_date       Rating
count  1795.000000  1795.000000  1795.000000
mean   1035.904735  2012.325348     3.185933
std     552.886365     2.927210     0.478062
min       5.000000  2006.000000     1.000000
25%     576.000000  2010.000000     2.875000
50%    1069.000000  2013.000000     3.250000
75%    1502.000000  2015.000000     3.500000
max    1952.000000  2017.000000     5.000000

### 3. Export Data

In [36]:
rating.to_csv(os.path.join(path, '02 Data','Prepared Data', 'chocolate_rating_clean.csv'))